//https://www.color-blindness.com/color-name-hue/
//https://colorscheme.ru/color-converter.html
$_white:								#fff;
$_pale-cornflower-blue: #b7ddf6;
$_curious-blue:					#3183c9;
$_columbia-blue:				#b5dafd;
$_picton-blue:					#3e8dd2;
$_malibu:								#60a1de;
$_sky-blue: 						#7bb4e9;
$_lavender-blue:				#c4e2fe;
$_lavender: 						#eff6fb;
$_regal-blue:						#1e3953;
$_echo-blue65:					rgba(162, 184, 206, 0.65);
$_denim:								#1985e0;
$_gainsboro:						#d8d8d8;
$_nero:									#262626;
$_silver:								#b7b7b7;
$_zircon:								#e1e3e5;
$_mine-shaft:						#32373c;
$_grey:									#858181;
$_nobel: 								#a8a2a2;
$_manatee:							#868f98;
$_white-smoke:					#f4f4f4;
$_solitude: 						#ecf1f5;
$_dim-gray: 						#5e5d5d;
$_matterhorn:						#4e4d4d;
$_cello: 								#374c62;
$_light-grey: 					#d2d0d0;
$_black: 								#000;
$_white67:							rgba(255, 255, 255, 0.67);
$_sapphire58:						rgba(6, 49, 82, 0.58);
$_warning:							#ff0000;



//=============================================
$color-1: 	$_white;
$color-2: 	$_pale-cornflower-blue;
$color-3: 	$_curious-blue;
$color-4:		$_columbia-blue;
$color-5: 	$_picton-blue;
$color-6: 	$_malibu;
$color-7: 	$_lavender;
$color-8: 	$_regal-blue;
$color-9: 	$_echo-blue65;
$color-10: 	$_denim;
$color-11: 	$_gainsboro;
$color-12: 	$_nero;
$color-13: 	$_silver;
$color-14: 	$_zircon;
$color-15: 	$_mine-shaft;
$color-16: 	$_grey;
$color-17: 	$_nobel;
$color-18: 	$_manatee;
$color-19: 	$_white-smoke;
$color-20: 	$_solitude;
$color-21: 	$_dim-gray;
$color-22: 	$_lavender-blue;
$color-23: 	$_sky-blue;
$color-24: 	$_matterhorn;
$color-25: 	$_cello;
$color-26: 	$_light-grey;
$color-27: 	$_black;
$color-28: 	$_white67;
$color-29: 	$_sapphire58;
$color-30: 	$_warning;

//===========================================

$_dark-cerulean89: linear-gradient(to top, rgba(#074682, 0.89) 0%, rgba(#1985e0, 0.89) 100%);
$gradient-1: $_dark-cerulean89;

